
      .logo{
        position:absolute;
        left:0px;
      }
      #title{
        text-align: center;
      }
      #mainpagecontent{
        text-align: center;
        border: black 2px solid;
      }
      #polaroid {
        width: 50%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
      }
      
      div.container {
        padding: 10px 20px;
      }
      #registration{
        text-decoration: none;
        color:black;
      }